{% extends "main/layout/base.html" %}
{% load static %}


{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/status.css' %}" />
<section name="input-status" id="input-status">
        <form id="form" method="POST" action="{% url 'status:add_status' %}">
            <h3><b>What's on your mind?</b></h3>
            {% csrf_token %}
            {{ status_form }}
            <br>
            <input id="submit" type="submit" class="btn btn-md btn-info" value="Post">
        </form>
</section>
<section name="list-status" id="list-status">
    <div class="template">
        <h3><b>{{ name }}'s Timeline</b></h3>
            <div class="in"></div>
                {% if status %}
                    {% for data in status %}
                        <div class="status-list">
                            <div class="media">
                                <div class="media-left media-middle">
                                    <img src="{{ image }}" class="media-object" style="width:60px">
                                </div>
                                <div class="media-body">
                                    <h5 class="media-heading"><b>{{ name }}</b></h5>
                                    <p>{{ data.status }}</p>
                                    <div class="status-list-date-added">
                                        Posted on {{data.created_date}}
                                    </div>
                                    <br id="space-status">
                                    <div class="status-list-delete">
                                    <form id="delete-status" method="POST" action="{% url 'status:delete_status' %}">
                                        {% csrf_token %}
                                        <input type="hidden" name=status-id value="{{data.id}}">
                                        <input id="delete" type="image" src="https://i.imgur.com/ymh9Aa9.png" style="width: 16px">
                                    </form>
                                </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="alert alert-danger text-center">
                        <strong>Oops!</strong> Belum ada status.
                    </div>
                {% endif %}
            </div>
        </div>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var show_form = '{{ show_form }}'
        if (show_form == 'True') {
            console.log(show_form)
            $('#input-status').hide();
            $('.status-list-delete').hide();
        }
        else{
            $('#input-status').show();
            $('.status-list-delete').show();
        }
    });
</script>
{% endblock %}
