{% extends "main/layout/base.html" %}
{% load static %}


{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/status.css' %}" />
<section name="list-status" id="list-status">
    <div class="template">
        <h3><b>Timeline</b></h3>
            {% if status %}
                {% for data in status %}
                    <div class="status-list">
                        <div class="media">
                            <img class="d-flex align-self-top mr-3" src="{{image}}" alt="Generic placeholder image" style="width:60px">
                            <div class="media-body">
                                <h6 class="mt-0"><b>{{name}}</b></h6>
                                <p>{{data.status}}</p>
                                <div class="status-list-date-added">
                                    Posted on {{data.created_date}}
                                </div>
                            </div>
                            <!--
                            <div class="status-list-delete">
                                <form id="delete-status" method="POST" action="{% url 'status:delete_status' %}">
                                    {% csrf_token %}
                                    <input type="hidden" name=status-id value="{{data.id}}">
                                    <input id="delete" type="image" src="https://i.imgur.com/ymh9Aa9.png" style="width: 16px">
                                </form>
                            </div>-->
                        </div>
                    </div>
                {% endfor %}
            {% else %}
            <div class="alert alert-danger text-center">
                <strong>Oops!</strong> Belum ada status.
            </div>
            {% endif %}
        </div>
</section>
{% endblock %}