/*html {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100%;
  padding-bottom: 30px; /* height of footer */
/*}

header {
  background: #f5f5f5;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  background: #f5f5f5;
  padding: 3px;
}
*/
html, body {
  height: 100%;
  margin:0;
  padding:0;
  background-color: lightblue;
}
h1{
	text-align: center;
}
section{
  min-height: 200px;
}

#wrapper {
  min-height: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}

#content {
  padding-top:30px;
  position: relative;
  padding-bottom: 24px;
}

#footer {
  margin-top: -24px;
  position: relative;
}

.wrap{
	width: 800px;
  	margin: 50px auto;
  	text-align: left;
	background: lightblue;
	padding: 20px 30px;
	position: relative;
}
.template{
  width: 330px;
  margin: 50px auto;
  text-align: left;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  position: relative;
}

.header-search{
	background-color:#292c2f;
	box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.15);
	padding: 20px 40px;
	height: 80px;
	color: #ffffff;
	box-sizing: border-box;
}

.header-search .header-limiter {
	max-width: 1200px;
	text-align: center;
	margin: 0 auto;
}

/* Logo */

.header-search .header-limiter h1 {
	float: left;
	font: normal 28px Cookie, Arial, Helvetica, sans-serif;
	line-height: 40px;
	margin: 0;
}

.header-search .header-limiter h1 span {
	color: #5383d3;
}

/* The header links */

.header-search .header-limiter a {
	color: #ffffff;
	text-decoration: none;
}

.header-search .header-limiter nav {
	font:16px Arial, Helvetica, sans-serif;
	line-height: 40px;
	float: left;
	margin: 0 0 0 60px;
	padding: 0;
}

.header-search .header-limiter nav a {
	display: inline-block;
	padding: 0 5px;
	text-decoration:none;
	color: #ffffff;
	font-size: 16px;
	font-weight: normal;
	opacity: 0.9;
}

.header-search .header-limiter nav a:hover {
	opacity: 1;
}

.header-search .header-limiter nav a.selected {
	color: #608bd2;
	pointer-events: none;
	opacity: 1;
}

/* The search box */

.header-search .header-limiter form {
	float:right;
	position: relative;
	right: 30px;
	margin-left: 40px;
	border-radius: 3px;
	background-color:  #3a3c3e;
	width: 44px;
	height: 39px;
	cursor: pointer;

	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

/* CSS search icon */

.header-search .header-limiter form:before {
	position: absolute;
	content: '';
	border-radius: 50%;
	border: 2px solid #fff;
	width: 9px;
	height: 9px;
	top: 12px;
	left: 14px;
}

.header-search .header-limiter form:after {
	position: absolute;
	content: '';
	background-color: #fff;
	width: 2px;
	height: 8px;
	top: 22px;
	left: 26px;
	-webkit-transform: rotate(-44deg);
	-moz-transform: rotate(-44deg);
	transform: rotate(-44deg);
}

/* The search box */

.header-search .header-limiter form input {
  color: #5f5f5f;
	display: none;
	position: absolute;
	right: 42px;
	padding: 11px 12px 9px;
	border: none;
	width: 210px;
	border-radius: 2px 0 0 2px;
	height: 39px;
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

/* Making the header responsive. */

@media all and (max-width: 600px) {

	.header-search {
		padding: 15px;
		position: relative;
	}

	.header-search .header-limiter h1 {
		float:none;
		font-size: 24px;
		line-height: 1;
	}

	.header-search .header-limiter nav {
		text-align: center;
		float: none;
		margin: 0;
	}

	.header-search .header-limiter nav a {
		font-size: 13px;
	}

	.header-search .header-limiter form {
		position: absolute;
		top: 20px;
		right: 20px;
	}

}

.company_logo {
  margin-left: 0;
}

.company_logo_img {
  height: 35px;
}


.header-user-menu{
	position: relative;
	float:right;
	background-color:#3a3c3e;
	width:75px;
	height:40px;
	border-radius:2px;
}
.header-user-menu:before{
	content:'';
	width:0;
	height:0;
	top: 18px;
	left: 15px;
	position:absolute;
	border:5px solid transparent;
	border-top-color:#fff;
}

.header-user-menu ul{
	display: none;
	font:bold 13px Arial, Helvetica, sans-serif;
	background-color: inherit;
	list-style: none;
	position: absolute;
	text-align: center;
	width: 125px;
	top: 25px;
	right: 0;
	padding: 10px;
	border-radius: 2px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
	box-sizing: border-box;
}

.header-user-menu:active ul,
.header-user-menu:hover ul,
.header-user-menu.show ul{
	display:block;
}

.header-user-menu ul li{
	padding:5px;
}

.header-user-menu ul li a:hover{
	opacity:0.9;
}

.header-user-menu ul li a.highlight{
	color:#e9ac09;
}

.header-user-menu img{
	border-radius:50%;
	position:absolute;
	top:6px;
	max-width: 28px;
	right:10px;
}
