html {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100%;
  padding-bottom: 30px; /* height of footer */
}

header {
  background: #f5f5f5;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  background: #f5f5f5;
  padding: 3px;
}
