/*html {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100%;
  padding-bottom: 30px; /* height of footer */
/*}

header {
  background: #f5f5f5;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  background: #f5f5f5;
  padding: 3px;
}
*/
html, body {
  height: 100%;
  margin:0;
  padding:0;
  background-color: lightblue;
}

#wrapper {
  min-height: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}

#content {
  padding-top:30px;
  position: relative;
  padding-bottom: 24px;
}

#footer {
  margin-top: -24px;
  position: relative;
}
.wrap{
  min-height: 100px;
  width: 500px;
  margin: 100px auto;
  text-align: center;
  background: lightblue;
  position: relative;
}
.template{
  width: 330px;
  margin: 50px auto;
  text-align: left;
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  position: relative;
}
table{
  text-align: center;
}