body {
  height: 100%;
  margin:0;
  padding:0;
  background-color: lightblue;
}

#wrapper {
  background-color: lightblue;
}
.item1 {
  background-color: lightblue;
}
textarea{
  width: 700px;
  resize: none;
}
section{
  min-height: 200px;
}
#list-status{
  background-color: lightblue;

}
table{
  text-align: left;
}
#input-status form{
  width: 800px;
  margin: 50px auto;
  text-align: left;
  background: white;
  position: relative;
  border: 0 none;
  border-radius: 5px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  position: relative;

}
.template{
  width: 800px;
  margin: 20px auto;
  text-align: left;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  position: relative;
}
.status-list{
  width: 700px;
  margin: 20px auto;
  text-align: left;
  background: #fff;
  position: relative;
  box-shadow: 0 5px 10px  rgba(0, 0, 0, 0.15);
  padding: 20px 30px;
  box-sizing: border-box;
  position: relative;
}
.status-list:hover {
  background-color: #E0E0E0;
}
.status-list-date-added{
  font-size: 12px;
  color: #C0C0C0;
}
@media only screen and (max-width: 768px) {
  textarea{
    max-width: 100%;
    resize: none;
  }
  #input-status form {
    width: 300px;
  }
  .template{
    width: 300px;
  }
  .status-list{
    max-width: 100%;
  }
  .media-body{
    margin-left: auto;
    margin-right: auto;
  }
}
