{% extends "main/layout/base.html" %}
{% block content %}
<div class="table table-responsive">
    <table class="table table-hover" id="myTable" style="width: none;">
        <thead>
        <th> Nama</th>
        <th> NPM</th>
        <th> email</th>
        <th> Expertise</th>
        </thead>
    </table>
</div>
<link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(e) {
        $('#myTable').DataTable( {
            "data" : {{ data |safe }},
            "columns" : [
                {"data" : "username"},
                {"data" : "npm"},
                {"data" : "email"},
                {"data" : "expertise"}
            ],
        } );
    });

    var search = setTimeout(function (){
      var input = $('#myTable_filter label input')
      input.val("{{ key |safe }}");
      input.trigger("keyup");
    }, 100);


</script>

{% endblock %}
