{% extends 'main/layout/base.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/editprofile.css' %}">
    <link href=' http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <h1 style="text-align:left;">Selamat Datang, {{ username }}</h1>
    <table cellpadding="10">
        <tr>
            <td rowspan="2"><img src="http://www.contribcity.com/images/dummy-profile-pic.png" style="width: 200px">
            </td>
            <td align="right"><input type="button" value="Lihat Forum"></td>
        </tr>
        <tr>
            <td><input type="button" id="buttonedit" value="Edit Profile"
                       onclick="location.href='{% url 'aboutme:edit' %}'">
            </td>
        </tr>
    </table>
    <p></p>
    <p></p>

    <table cellpadding="5" cellspacing="5">
        <tr>
            <td align="left"><h4>Nama</h4></td>
            <td align="left"><h4>{{ name }}</h4></td>
        </tr>
        <tr>
            <td align="left"><h4>NPM</h4></td>
            <td align="left"><h4>{{ npm }}</h4></td>
        </tr>
        <tr>
            <td align="left"><h4>Keahlian</h4></td>
            {% if expertise %}
                {% for object in expertise %}
                    <td align="left"><h4>{{ expertise }}</h4></td>
                {% endfor %}
            {% else %}
                <td align="left"><h4>Kosong</h4></td>
            {% endif %}
        </tr>
        <tr>
            <td align="left"><h4>Email</h4></td>
            <td align="left"><h4>{{ email }}</h4></td>
        </tr>
        <tr>
            <td align="left"><h4>Profil LinkedIn</h4></td>
            <td id="lingin" align="left"><h4>{{ linkedin_profile }}</h4></td>
    </table>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var show_edit = '{{ show_edit }}'
            if (show_edit == 'False') {
                console.log(show_edit)
                $('#buttonedit').hide();
            }
            else {
                $('#buttonedit').show();
            }
        });
    </script>
{% endblock %}