{% extends 'main/layout/base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/aboutme.css' %}">
    <link href=' http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

    <div class="container">
        <center><img id="profilepic" src="{{ profile_pic }}" height="100" width="100" class="img-circle"></center>
        <h4 id="npm" style="text-align: center">NPM</h4>
        <h4 id="npm" style="text-align: center">{{ npm }}</h4>
        <span><button onclick="">SIMPAN</button></span>
        <span><button onclick="">KELUAR</button></span>
        <h2>Data Pribadi</h2>
        <div id="linkedinbutton">
            <p id="baton"></p>
            <div id="profileData" style="display: none;">
                <p id="name"></p>
                <p id="email"></p>
                <p id="linkedInProfile"></p>
            </div>
            <!-- sign in with linkedin button -->
            <script type="in/Login"></script>
        </div>

        <span>
    <p>Tampilkan nilai:</p>
    <input type="radio" id="akses-nilai" value="no"> Tidak
    <input type="radio" id="akses-nilai" value="yes" onclick="location.href='{% url 'aboutme:show-grades' %}'"> Ya
  </span>

        <div id="user-bio"></div>
        <h2>Keahlian</h2>
        <div id="user-skill"></div>
    </div>
    <script src="{% static 'js/aboutme.js' %}"></script>
{% endblock %}