{% extends "main/layout/base.html" %}
{% block content %}
<section class="wrap">
	<h1 style="color: #fff; font-size: 70px; background-color: lightblue"><b>kenal.</b><span style="color: black"><b>in</b></span></h1>
	<div class="template">
		<table>
			<tr>
				<td>
					<form action="{% url 'main:sso' %}" method="get">
				    	<button class="btn btn-warning">Login with SSO</button>
					</form>
				</td>
				<td>
					<button class="btn btn-primary">Login with LinkedIn</button>
				</td>
			</tr>
		</table>
	</div>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
		$('#header').hide();
    });
</script>
{% endblock %}