{% load static %}
<!DOCTYPE html>
<html lang="en" class="gr__sso_ui_ac_id">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/sso.css' %}">
    <link rel="icon" href="https://sso.ui.ac.id/cas/themes/ui/logo2_0.gif" type="image/x-icon">
    <title>SSO UI</title>
</head>
<body data-gr-c-s-loaded="true">
        <div class="container">
                <div class="main">



<div class="bg"></div>
<div class="login-box">
        <form id="fm1" class="login" action="{% url 'main:login' %}" method="post">
                {% csrf_token %}
                <div class="top">
                        <div class="pull-right"><img src="https://image.ibb.co/nMCOaG/logo.png"></div>
                        <h1>SSO</h1>
                        <div class="sub">Single Sign On</div>
                </div>


                <div class="middle">
                        <p>Masukkan username dan password UI Anda/<br><em>Enter your username and password</em>:</p>

                                <div class="form-group">



                                    <input id="username" name="username" class="form-control" placeholder="Username" type="text" value="" autocomplete="false">



                                </div>


                                <div class="form-group">
                                        <input id="password" name="password" class="form-control" placeholder="Password" type="password" value="" autocomplete="off">

                                </div>

                </div>
                <div class="bottom clearfix">
                        <div class="pull-right" style="margin-top:12px">
                                <button type="submit" class="btn btn-lg btn-primary">Login</button>
                        </div>
            <table>
              <tbody><tr>
<!--
                <td style="padding: 10px 10px 10px 10px;">
                        <div class="help"><a href="#">Lupa password<br /><em>Forget password</em></a></div>
                </td>
-->
                <td style="padding: 0px 10px 10px 10px;">
                        <div class="help"><a href="https://sso.ui.ac.id/account/user/register">Daftar Akun<br><em>Guest Account</em></a></div>
                </td>
                <td style="border-left: solid #D5D5D5; ">
                </td>
                <td style="padding: 0px 0px 10px 10px;">
                        <div class="help"><a href="https://sso.ui.ac.id/account/static/frequently-asked-question-faq">Butuh Bantuan ?<br><em>Need Help ?</em></a></div>
                </td>
              </tr>
            </tbody></table>
                </div>
        </form>
</div>

<script type="text/javascript">
function hasError(input) {
        if (input && /has-error/.test(input.parentElement.className)) return input;
}
function isEmpty(input) {
        if (input && input.value == "") return input;
}
var u = document.getElementById("username");
var p = document.getElementById("password");
var candidates = [hasError(u), hasError(p), isEmpty(u), isEmpty(p), u];
for (var i = 0; i < candidates.length; ++i) {
        if (candidates[i]) {
                candidates[i].focus();
                break;
        }
}
</script>





</div></div></body></html>
